In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [4]:
#data cleaning
del stats["Unnamed: 0"]

In [6]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [8]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14666    Evan Eschmeyer  0.0
14667  Gheorghe Mureșan  0.0
14669     Jim McIlvaine  0.0
14675  Mark Hendrickson  0.0
14676      Michael Cage  0.0

[2086 rows x 2 columns]

In [9]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [10]:
stats = stats.fillna(0)

In [11]:
#training a ML model
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [12]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [14]:
train = stats[stats["Year"] < 2022]

In [15]:
test = stats[stats["Year"] == 2022]

In [16]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [17]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [18]:
predictions = reg.predict(test[predictors])

In [19]:
predictions

array([ 1.29340324e-02, -2.81426661e-02, -6.16297554e-03,  1.65640646e-02,
       -4.81969823e-03, -7.62772282e-03, -4.52133709e-03,  2.83104542e-02,
        2.71275035e-03,  2.07841835e-03, -2.28940640e-03, -1.97783365e-04,
        9.26616065e-03, -2.46981249e-02,  5.52974024e-03,  1.90365032e-01,
       -2.32609324e-02, -2.30608388e-04, -1.70714902e-02,  6.62863897e-03,
       -1.49271166e-02,  3.00340864e-03, -3.72040333e-03, -1.03486671e-02,
       -1.42173486e-02, -2.40207320e-04, -3.37910348e-03, -1.30780505e-02,
       -3.56480984e-03, -2.76932105e-02,  1.03583795e-01,  1.90462050e-01,
       -2.09460923e-02, -2.68464929e-03, -8.49624045e-03,  3.03623050e-03,
       -1.11133149e-02,  2.75053156e-02,  2.02861274e-02, -1.97060554e-02,
        6.10278432e-03, -2.34224982e-03,  1.48399790e-02,  1.82426041e-02,
        1.72337510e-02, -8.65498151e-03,  7.83280801e-02,  6.66845699e-02,
        9.13092120e-02, -2.90773602e-03, -1.90264046e-02,  2.99294416e-02,
       -4.83497573e-03,  4.85140061e-04,  3.88290688e-02,  7.11176590e-03,
        6.83051467e-03, -2.39054388e-03,  1.83582884e-02,  1.03389245e-02,
        8.35011608e-03, -3.02456268e-03, -5.76860571e-03,  2.45547987e-02,
        2.53199020e-03,  1.82066343e-02,  1.56595306e-04,  2.56933976e-02,
       -2.20013627e-02, -2.39810230e-02, -2.75830270e-03,  6.94572313e-02,
        9.59025161e-02, -1.64288086e-02, -4.51658907e-02, -1.47525869e-02,
       -3.96626507e-03,  2.62740337e-03,  9.57735363e-03,  1.25318368e-02,
        6.91399067e-03,  1.48331558e-03,  1.21973551e-02,  1.13275006e-02,
       -2.79936458e-02, -5.89230446e-03,  7.62578124e-03, -1.64590594e-02,
       -1.85545629e-02, -8.94321311e-03,  1.57182206e-02,  2.57416997e-03,
       -1.70120476e-02, -9.40137919e-04, -1.23042310e-02,  3.22575877e-03,
       -7.17394939e-03, -1.63478906e-02, -1.25256972e-01,  2.22143224e-02,
       -2.34702065e-02, -1.97095607e-02,  2.77470207e-03, -5.55093273e-02,
        8.80226990e-02, -2.59525956e-03, -2.07004333e-02, -6.22956888e-03,
       -3.18335288e-02, -6.64142173e-02,  2.06575805e-02, -8.51811183e-03,
        1.48273488e-02,  1.08452521e-02, -1.75392496e-02,  6.55171062e-02,
        7.65415424e-02, -8.60358145e-03,  2.35869618e-02,  2.54669129e-02,
       -6.28793564e-03,  7.66573556e-03, -8.75791005e-04, -2.37058309e-02,
       -1.71368415e-03, -1.94901177e-02, -1.39777417e-02,  9.36080235e-03,
       -2.98473088e-03,  1.89921976e-02,  2.27524789e-02, -1.59111415e-02,
       -2.61101542e-02, -2.72200465e-02,  1.40322378e-04,  1.95307823e-02,
       -4.40163935e-02,  4.89854090e-03, -2.23566108e-02, -2.95066935e-02,
       -1.87038136e-02, -1.08155583e-02, -1.11207397e-02, -3.01249570e-02,
        2.39486629e-02,  1.06218906e-02,  2.61711724e-02, -1.51157350e-02,
       -2.20620924e-02, -1.19929234e-02,  4.51414530e-02, -2.54647900e-02,
       -1.11790676e-02, -1.42916519e-02,  1.32635990e-02, -1.94711541e-02,
        3.06769286e-02,  3.26194863e-03,  9.28687726e-03,  5.69127994e-03,
       -1.07434867e-02, -3.61268656e-02,  1.63363545e-03,  3.74318865e-02,
        2.46098209e-02,  2.37996003e-03, -1.09936882e-02, -2.65329061e-03,
       -8.78190752e-03, -2.36731901e-02,  2.31421663e-02,  1.12811414e-02,
       -7.87928849e-03, -2.07726263e-02,  3.21123964e-03, -6.69963964e-03,
       -1.79244355e-03,  1.31348573e-02, -3.20963258e-02,  4.63732547e-02,
        3.08964116e-03,  1.59236258e-02, -3.55300020e-03, -1.12203194e-05,
       -3.29813200e-02,  2.37428659e-02, -1.16023923e-02,  2.32615956e-02,
       -7.45211718e-03, -2.59953819e-02,  1.75564645e-02,  1.73875181e-03,
       -1.41588276e-02, -1.88473690e-02, -1.66343977e-02, -6.34798810e-03,
        9.92400846e-02, -1.50777370e-02, -4.42266831e-03, -1.34840660e-02,
        1.99830808e-02, -2.10589519e-03, -1.12551641e-04,  4.69315589e-03,
       -4.00512787e-03,  5.25795699e-02, -1.86554310e-02, -1.07714946e-02,
       -9.33805703e-03, -1.31235198e-02, -1.00281498e-02,  7.15234817e-02,
       -2.10595836e-02,  6.73684750e-02,  4.67034379e-02, -7.71809306e-03,
       -1.32210037e-02, -1.15350575e-03, -2.22448137e-02,  3.18719174e-02,
        8.14560849e-03,  5.57764137e-02,  1.04512611e-02, -1.05531035e-02,
       -8.21368042e-03,  2.98927760e-03, -2.20478419e-02, -8.54981873e-03,
       -1.68947990e-02,  1.00460131e-02,  6.99117657e-03, -1.44594118e-02,
        7.48658902e-02, -1.22307326e-02, -9.25715918e-04, -4.89315445e-03,
       -1.17195805e-02, -7.25585920e-03, -1.72862941e-03, -5.07084266e-05,
       -6.02964058e-03, -5.28993481e-03,  1.47562171e-02, -2.39406782e-03,
       -1.04954042e-02,  4.05518742e-03, -1.96176177e-03,  1.27198044e-02,
        2.76746995e-02,  2.27423339e-02,  3.40112347e-03, -2.33270013e-03,
        1.26293859e-02,  1.04798897e-02,  3.34694699e-02,  7.75743066e-02,
        4.16839794e-03,  6.67303375e-03, -1.45060615e-02, -1.79875584e-02,
        3.09442886e-04,  8.82933158e-03,  2.53299682e-02,  6.96080782e-03,
       -2.61524998e-03,  2.13746274e-03, -2.43403661e-02, -8.85361301e-03,
       -1.44951732e-02, -1.46061632e-02, -4.00730464e-02, -3.26857731e-02,
        1.40626154e-01,  6.87029435e-02,  2.44358016e-02,  1.09890663e-02,
       -2.49877714e-02, -4.65826034e-03, -1.81763915e-02,  8.28179716e-03,
        2.63909301e-02, -9.03138131e-03,  1.01639782e-03,  2.84655307e-02,
        1.84444974e-02,  2.78989681e-02,  3.84974570e-02,  9.33979971e-03,
       -2.56382681e-03,  3.04312253e-02, -1.91020693e-04,  2.11322507e-02,
        1.96075300e-02, -5.72208269e-03,  9.31372879e-02,  6.64262643e-03,
       -1.16517756e-03, -3.39590508e-03, -2.50911422e-02, -2.95261740e-02,
       -6.49672551e-03,  6.08089490e-02, -2.78168601e-03, -3.48468212e-02,
        7.53547456e-05, -1.51520316e-02, -9.38724846e-03, -9.78118032e-03,
        3.05470891e-02,  2.71739133e-03,  5.21045685e-02, -2.21144948e-02,
       -2.81511086e-02, -1.16762662e-02, -2.80877046e-03,  5.21641217e-03,
        1.07305675e-01, -1.63795134e-02, -3.66044354e-02,  1.37968949e-02,
       -1.27158649e-02, -2.49641628e-02,  8.54430502e-03,  1.01761371e-02,
       -2.87322933e-02, -2.27090006e-02,  1.57827263e-01, -2.19229973e-02,
        8.48672674e-03,  2.50335035e-02,  4.64725920e-02,  3.97187820e-02,
       -1.57831570e-02, -8.92030482e-03, -1.29051911e-02, -1.05236925e-02,
       -1.41043711e-02,  3.70296142e-02,  3.79764076e-02, -2.62318412e-02,
       -4.99766183e-03, -1.65438034e-02,  9.23768919e-03, -1.79338562e-03,
       -1.59767257e-02,  9.45656182e-02, -1.47127160e-02, -9.74329662e-03,
       -1.31592961e-02, -1.71798393e-03,  1.02258338e-02,  1.70212238e-02,
        1.75046043e-03, -9.28067433e-03, -1.85430091e-02,  4.94126019e-02,
       -7.83357293e-03, -1.91444786e-02, -1.40138439e-02,  1.93040157e-02,
       -3.09899119e-03,  5.07836930e-03, -3.04375895e-03,  1.24574145e-02,
        4.38517190e-03,  5.22388020e-04, -1.53559747e-02, -1.05022624e-02,
        7.60233914e-02,  3.85014322e-02, -8.04356029e-04,  2.44095475e-03,
        4.91228916e-03, -1.21298612e-02, -1.90339065e-02, -7.07402067e-03,
        1.03728309e-02,  9.19256751e-02,  5.76826632e-04, -3.12677418e-03,
       -1.77492341e-02,  2.53383149e-02, -1.61322329e-03, -6.24799464e-03,
       -8.85302704e-03, -1.50153294e-02, -3.34485222e-02, -1.19540551e-02,
        1.70379851e-02,  4.10250113e-03, -2.61337832e-02,  1.60033726e-03,
       -2.68911967e-02, -2.68459245e-04, -5.14388443e-03,  1.04594896e-02,
        5.39009570e-02, -6.99701548e-03,  7.44556185e-04,  2.01895353e-02,
        3.53838421e-02,  4.80169087e-03,  2.71436934e-03, -1.43435039e-02,
       -2.71945077e-02,  2.46585911e-03, -5.86921904e-04,  7.46965452e-02,
       -1.00497378e-02,  2.45790957e-02,  4.89917799e-03, -2.88566445e-03,
        5.08621037e-03,  6.36835806e-03,  8.22603013e-03, -1.23086290e-02,
        1.17376735e-02, -2.50199688e-03, -7.26592638e-03, -5.62863862e-03,
       -1.88132703e-02, -1.97489899e-02,  1.70909419e-02,  4.64686038e-02,
        1.18372878e-03,  5.79746486e-02,  4.51916513e-02, -1.28732376e-02,
       -2.51013487e-03,  2.49185365e-02,  3.31825629e-02,  8.25643051e-02,
        2.26976179e-03, -1.71975981e-02,  8.28202499e-03, -7.80655398e-03,
       -1.32903387e-02, -7.70568592e-03, -1.77297381e-02,  8.98494859e-02,
       -1.16174509e-02, -1.20753124e-06,  2.70071704e-02, -1.61493285e-02,
       -1.87295953e-02,  2.50780921e-03, -2.48385085e-02,  7.02096711e-03,
       -2.29563726e-02,  3.23940719e-02, -3.30342136e-03,  2.64579042e-02,
        7.45617058e-03,  1.81957568e-02, -1.79587259e-02,  3.66110217e-03,
        7.76151581e-03,  1.45605626e-02,  9.22900170e-05,  1.25954720e-02,
        1.81509091e-02,  3.04507091e-02, -1.14992626e-02,  1.57395154e-01,
        7.18778923e-03,  6.85415182e-04,  1.27320248e-02, -1.69282239e-02,
        3.15875423e-02, -4.76929766e-03,  1.01402521e-02,  1.01416583e-02,
       -7.52273072e-05,  1.58187664e-02,  1.35951546e-03, -1.79506041e-02,
       -2.34252576e-02,  2.19409418e-01, -8.31574228e-03,  2.85070520e-02,
       -6.71620182e-03, -1.38204888e-02,  5.08785237e-02,  5.19565629e-02,
       -3.37773455e-02,  7.67972751e-03, -1.77922286e-03, -8.19948835e-03,
       -1.11597467e-02,  2.31140422e-03, -9.44849529e-03, -3.17255332e-02,
        1.54037292e-02,  2.01202213e-02,  1.18337924e-02, -3.33533391e-02,
        3.56275836e-02,  4.69846870e-03, -1.96202837e-02, -1.03631764e-02,
        5.79026330e-03, -8.50460173e-03,  3.39493214e-02, -1.62949936e-02,
       -1.65373055e-03, -3.26741797e-03,  2.12383180e-03, -6.60918332e-04,
       -1.12174090e-02, -1.31473165e-02, -1.02178451e-02,  1.09246420e-01,
       -6.62771694e-02,  1.15679010e-02, -6.56570458e-03, -6.58483622e-03,
        7.02489711e-02, -3.82627861e-04, -3.58640050e-03,  2.71907906e-02,
        4.04035632e-03, -1.55636089e-02,  1.07249792e-02,  1.50333004e-03,
        2.26906708e-02,  1.61102085e-02, -8.19294322e-03, -2.56408041e-02,
       -3.24167901e-02,  9.78345591e-04,  9.76898549e-02, -1.40727027e-02,
       -1.10267162e-02, -7.91288255e-04, -1.74970924e-02,  3.51132764e-02,
        1.04102206e-03,  1.52009279e-02,  1.79711042e-02,  2.94124986e-02,
        1.71067208e-02,  1.20507785e-01,  4.12359400e-02, -4.07737264e-04,
       -1.07807743e-03,  3.03495728e-02, -1.43754873e-02,  1.56479805e-02,
        1.09097400e-02, -4.19516879e-03, -2.28896630e-03, -5.02417658e-03,
       -3.09471579e-02,  1.69401951e-02,  2.13190774e-03, -2.04257811e-03,
       -1.38298881e-02,  8.03939787e-05,  1.96170875e-02,  1.31458736e-02,
       -8.37021333e-03,  4.61777267e-02, -1.46589812e-02, -2.06852791e-04,
       -1.56711287e-02,  2.93762721e-02, -3.46803176e-02,  5.65571716e-02,
        5.36856387e-02, -5.15938313e-04, -8.22766971e-03,  1.21178537e-02,
        3.12158458e-02,  8.85872544e-03, -2.78832597e-03, -1.23809455e-03,
        1.42096652e-02,  6.85420580e-04, -3.41327866e-02,  4.19819389e-03,
        3.68938475e-03,  7.28581362e-03, -4.41367585e-02, -2.90652456e-02,
       -1.35065644e-02, -2.02149485e-02, -4.12643659e-03, -6.64894306e-02,
       -8.47400309e-03,  1.52848442e-02, -2.46517432e-02, -2.75808088e-02,
       -1.49692446e-02, -2.62166883e-02,  3.02662195e-02, -2.02697203e-02,
        1.51904476e-02, -2.46182933e-02, -9.96330079e-03,  7.66637237e-03,
       -1.93800651e-02, -1.01966120e-02,  3.81017847e-03,  1.16179126e-03,
       -5.70068712e-02])

In [21]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [22]:
predictions

       predictions
648       0.012934
649      -0.028143
650      -0.006163
651       0.016564
652      -0.004820
...            ...
12508    -0.019380
12509    -0.010197
12510     0.003810
12511     0.001162
12512    -0.057007

[605 rows x 1 columns]

In [23]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [24]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.012934
649      Austin Rivers    0.0    -0.028143
650            Bol Bol    0.0    -0.006163
651       Bones Hyland    0.0     0.016564
652        Bryn Forbes    0.0    -0.004820
...                ...    ...          ...
12508     Micah Potter    0.0    -0.019380
12509  Rodney McGruder    0.0    -0.010197
12510        Saben Lee    0.0     0.003810
12511       Saddiq Bey    0.0     0.001162
12512   Trayvon Palmer    0.0    -0.057007

[605 rows x 3 columns]

In [25]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.190365
837              Joel Embiid  0.706     0.190462
11678  Giannis Antetokounmpo  0.595     0.219409
907             Devin Booker  0.216     0.091309
11469            Luka Dončić  0.146     0.157395
1179            Jayson Tatum  0.043     0.095903
12226              Ja Morant  0.010     0.120508
6398           Stephen Curry  0.004     0.093137
905               Chris Paul  0.002     0.078328
8241            LeBron James  0.001     0.157827

In [27]:
#checking for errors
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0022400373201737723

In [28]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.875      1
0.706      1
0.002      1
0.216      1
0.043      1
0.004      1
0.146      1
0.595      1
0.010      1
Name: Share, dtype: int64

In [29]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [30]:
combination.head(10)

                      Player  Share  predictions  Rk
663             Nikola Jokić  0.875     0.190365   1
837              Joel Embiid  0.706     0.190462   2
11678  Giannis Antetokounmpo  0.595     0.219409   3
907             Devin Booker  0.216     0.091309   4
11469            Luka Dončić  0.146     0.157395   5
1179            Jayson Tatum  0.043     0.095903   6
12226              Ja Morant  0.010     0.120508   7
6398           Stephen Curry  0.004     0.093137   8
905               Chris Paul  0.002     0.078328   9
8241            LeBron James  0.001     0.157827  10

In [31]:
combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [33]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
11678  Giannis Antetokounmpo  0.595     0.219409    3             1
837              Joel Embiid  0.706     0.190462    2             2
663             Nikola Jokić  0.875     0.190365    1             3
8241            LeBron James  0.001     0.157827   10             4
11469            Luka Dončić  0.146     0.157395    5             5
6185            Kevin Durant  0.001     0.140626   12             6
12226              Ja Morant  0.010     0.120508    7             7
11820             Trae Young  0.000     0.109246  289             8
8231           Anthony Davis  0.000     0.107306  112             9
836             James Harden  0.000     0.103584  393            10

In [34]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
663             Nikola Jokić  0.875     0.190365   1             3
837              Joel Embiid  0.706     0.190462   2             2
11678  Giannis Antetokounmpo  0.595     0.219409   3             1
907             Devin Booker  0.216     0.091309   4            17
11469            Luka Dončić  0.146     0.157395   5             5
1179            Jayson Tatum  0.043     0.095903   6            13
12226              Ja Morant  0.010     0.120508   7             7
6398           Stephen Curry  0.004     0.093137   8            15
905               Chris Paul  0.002     0.078328   9            21
3938           DeMar DeRozan  0.001     0.099240  11            11

In [41]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0 
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [42]:
find_ap(combination)

0.8188235294117646

In [43]:
#implement backtesting to predict each year
years = list(range(1991,2023))

In [44]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [45]:
sum(aps) / len(aps)

0.7152712173135063

In [48]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [53]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1710      Karl Malone  0.857     0.192318   1             2    -1
10976  Michael Jordan  0.832     0.167629   2             3    -1
970        Grant Hill  0.327     0.128646   3             6    -3
4912     Tim Hardaway  0.207     0.059984   4            20   -16
8642        Glen Rice  0.117     0.033110   5            53   -48

In [55]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [57]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [58]:
mean_ap

0.7152712173135063

In [59]:
#diagnose model performance

In [60]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1334         Jason Kidd  0.712     0.028210   2            52   -50
8642          Glen Rice  0.117     0.033110   5            53   -48
5420         Steve Nash  0.839     0.034100   1            45   -44
8910    Peja Stojaković  0.228     0.036270   4            38   -34
13331       Joakim Noah  0.258     0.046968   4            37   -33
5438         Steve Nash  0.739     0.054129   1            34   -33
3849   Chauncey Billups  0.344     0.052696   5            35   -30
1499         Chris Paul  0.138     0.072293   5            33   -28
5453         Steve Nash  0.785     0.074421   2            21   -19
4912       Tim Hardaway  0.207     0.059984   4            20   -16

In [66]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.087852  eFG%
18  0.033860   DRB
29  0.023202  W/L%
17  0.020993   ORB
10  0.016456    2P
21  0.012070   STL
22  0.010901   BLK
15  0.010414   FTA
20  0.007113   AST
12  0.007052   2P%
25  0.006918   PTS
5   0.004827   FGA
4   0.003352    FG
7   0.001701    3P
0   0.000294   Age
30  0.000279    GB
27  0.000136     W
1   0.000093     G
2   0.000004    GS
26 -0.000180  Year
32 -0.000275  PA/G
28 -0.000316     L
31 -0.000494  PS/G
33 -0.000569   SRS
24 -0.002625    PF
3  -0.004067    MP
16 -0.004783   FT%
14 -0.006344    FT
23 -0.009143   TOV
8  -0.009681   3PA
9  -0.009695   3P%
11 -0.016464   2PA
19 -0.026578   TRB
6  -0.155934   FG%

In [70]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

/var/folders/mx/p_dw3l351sb1h38x8l37yfdw0000gn/T/ipykernel_1091/2022889540.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [71]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14693  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14694  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14695  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14696  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14697 rows x 6 columns]

In [73]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [74]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [75]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [76]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [77]:
mean_ap

0.726619022474594

In [78]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [83]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [82]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [84]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [85]:
mean_ap

0.7479028168624604

In [86]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [87]:
mean_ap

0.726619022474594